// ------VARIABLES-----//
@import './utilities/colors';

//---RESET---//
@import './utilities/reseteo';
@import './utilities/extend-mixin';


//---SECTIONS----//
@import './pages/body';
@import './pages/header';
@import './pages/footer';
@import './pages/index';
@import './pages/blog';
@import './pages/contacto';
@import './pages/productos';
@import './pages/sucursales'

