.main{
    max-width: 100%;
    height: calc(90vh + 30vw);
    padding: 20px;
    padding-top: 100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.text-informacion-main{
    width: 50%;
    h1{
        color: orange;
        font-size: 50px;
        margin-top: 1px;
    }
    p{
        color: beige;
        font-size: 18px;
    }
    
}
.boton-main{
    display: flex;
    margin-top: 25px;
}
.media-main img{
    width: 100%;
    margin-top: -40px;
    border-radius: 25px;
    border: solid rgb(221, 133, 32);
}
.boton-registro-main{
    padding: 14px 50px;
    background-color: black;
    border: solid orange;
    border-radius: 15px;
    color: orange;
    cursor: pointer;
    transition:background, color, 300ms; 
    &:hover{
        transform: scale(1.05);
        color: blue;
    }
}
.boton-leer-mas-main{
    padding: 14px 50px;
    background-color: black;
    border: solid orange;
    border-radius: 15px;
    color: orange;
    cursor: pointer;
    transition:background, color, 300ms; 
    margin-left: 5px;
    &:hover{
        transform: scale(1.05);
        color: blue;
    }
}
.container-banner{
    background-color: rgb(36, 34, 34);
    margin-top: -180px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 85px;
    border: solid 3px rgb(221, 133, 32);
    border-radius: 20px;
    &:hover{
        transform: scale(1.05);
    }
}
.banner{
    cursor: pointer;
    height: 250px;
    display: flex;
    align-items: center;
    
}
.banner-text h2{
    font-size: 25px;
    margin-right: 10px;

}


#icon-paleta{
    width: 180px;
    margin-left: 40px;
    margin-right: 30px;
}
@media (max-width: 420px){
    .text-informacion-main p{
        display: none;
        
    }
    .container-banner{
        margin-top: 120px;
        margin-left: 1px;
        margin-right: 1px;
        
        
    }
    .banner-icon-paleta{
        display: none;
    }
    .banner-text h2{
        font-size: 20px;
        margin: auto;
    }
    .text-informacion-main{
        display: grid;
        justify-content: start;
        margin-top: -40px;
        h1{
            font-size: 25px;
            width: 45px;
            margin-top: 50px;
        }
    }
    .main{
        display: flex;
        flex-direction: column;
        margin-top: -45px;
        h1{
            width: 380px;
            margin-top: 110px;
        }
        
       }
       .navbar-toggler{
        width: 45px;
       }
       .boton-main{
        display: none;
    }
    .media-main img{
        margin-top: 1px;
        width: 250px;
        
       }
       .media-main{
        display: flex;
        flex-direction: column;
        margin: auto;


       }
}